__pycache__/
*.py[cod]
*.pyo
*.pyd

env/
venv/
.env/
.venv/

.vscode/
.idea/

*.log

# PyInstaller build artifacts
/build/
/dist/
/*.spec

# Optional: generated sprite headers (uncomment if you do NOT want them tracked)
# sprites_*.h
